@charset "utf-8"

.uname {

	color: #00F;
	font-weight: bold;
	font-size: 15px;
	font-family: Verdana, Geneva, sans-serif;
	
}

.msg {

	color: #390;
	font-size: 15px;
	font-family: Georgia, "Times New Roman", Times, serif;

}

.button {

	text-align: center;
	background-color: #00f;
	border-width: 2px;
	border-style: solid;
	border-color: #000;
	color: #FFF;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;

}